NOTIFY_API_KEY=
NOTIFY_SMS_TEMPLATE_ID=

DATABASE_URL=postgres://postgres@localhost:5432/

KEYCLOAK_AUTH_URL=http://localhost:8080/auth
KEYCLOAK_CLIENT_ID=psd-app
KEYCLOAK_CLIENT_SECRET=

REDIS_URL=redis://localhost:6379

ELASTICSEARCH_URL=http://localhost:9200

EMAIL_WHITELIST_ENABLED=false

ANTIVIRUS_URL=http://localhost:3006/safe
ANTIVIRUS_USERNAME=av
ANTIVIRUS_PASSWORD=password

KEYCLOACK_REDIRECT_URI=http://localhost:3000/users/auth/openid_connect/callback
HTTP_HOST=localhost
HTTP_PORT=3000
OTP_SECRET_ENCRYPTION_KEY=01c483ec5ee52d454f44732dadfd9573f5c51e6fd0838f544c25107f699d4341bd11b203c34a6bc5c646f1e49a58c9476939e4403fd1019258c9d32dd8a55468